#page{
    background: #33ccff;
}
#wrapper:after{
    display: block;
    content: "";
    clear: both;
}
#wrapper{
    width: 950px;
    margin: 0 auto;
}
#header {
    height: 77px;
    background: #fff;
}
#sidebar{
    width: 225px;
}
#main{
    width: 713px;
}
#footer{
}
.header{

}
.sidebar:after{
    display: block;
    content: "";
    clear: both;
}
.sidebar{
    float: left;
}
.shop-by{
    height: 44px;
    color: #ed2991;
    border: solid #16c1f3 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fff;
}
.main:after{
    display: block;
    content: "";
    clear: both;
}
.main{
    float: right;
}