#page{
    background: #33ccff;
}
#wrapper:after{
    content: "";
    display: block;
    clear: both;
}
#wrapper{
    width: 950px;
    margin: 0 auto;
}
#header {
    height: 77px;
}
#sidebar{
    width: 225px;
}
#main{
    width: 713px;
}
#footer{
    height: 242px;
}
.visual{
}
.account{
    margin-right: 245px;
    padding-top: 3px;
    float: right;
    width: 455px;
    height: 23px;
    background: #30333d;
}
.account li{
    font-size: 80%;
    float: left;
    padding: 0 10px;
}
.account a{
    color: #fff;
    text-decoration: none;
}
.header{
    background: #fff;
    margin-bottom: 11px;
    padding: 20px 0;
    box-sizing: border-box;
}
.header-content{
    margin: 0 auto;
    max-width: 950px;
}
.header .visual{
    float: left;
}
.navigate{
    float: left;
    height: 100%;
    font-family: Helvetica
}
.navigate ul{
    height: 100%;
}
.navigate li{
    height: 100%;
    float: left;
    padding: 9px;
}
.home-btn{
    color: #33ccff;
}
.artshop-btn{
    color: #ed1b24;
}
.create-btn{
    color: #ffcc33;
}
.meet--btn{
    color: #ed2991;
}
.why-btn{
    color: #99cc33;
}
.pricing-btn{
    color: #f36d21;
}
.faq-btn{
    color: #00ccff;
}
.sidebar:after{
    display: block;
    content: "";
    clear: both;
}
.sidebar{
    float: left;
}
.arrow_box h1{
    font-size: 17pt;
    font-family: Helvetica;
}
.arrow_box {
    box-sizing: border-box;
    padding: 12px;
    border-radius: 10px;
    height: 44px;
    color: #ed2991;
    position: relative;
    background: #fff;
    border: 5px solid #16c1f3;
    margin-bottom: 20px;
    vertical-align: middle;
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 35px;
        border: solid transparent;
        content: " ";
        position: absolute;
    }
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .arrow_box:before {
        border-color: rgba(22, 193, 243, 0);
        border-top-color: #16c1f3;
        border-width: 17px;
        margin-left: -17px;
    }
.main:after{
    display: block;
    content: "";
    clear: both;
}
#menu_body{
    display: block;
}
.menu{
    background: #fff;
    border-radius: 10px;
    border: 5px solid #16c1f3;
    padding: 10px 5px 10px 5px;
}

.section{
    font-family: Helvetica;
    color: #fff;
    padding-left: 22px;
    display: block;
    position: inherit;
    height: 28px;
    background: #0076bc;
    border-radius: 3px;
    margin-bottom: 1px;
}
.subsection{
    padding-left: 24px;
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
    margin-bottom: 1px;
    border-radius: 3px;
}
.subsection a{

    font-family: Helvetica;
    color: #000;
    text-decoration: underline;
}
.main{
    float: right;
}
.ribbon:after{
    display: block;
    content: "";
    clear: both;
}
.ribbon{
    margin-bottom: 30px;
}
.ribbon-text{
    float: right;
    width: 618px;
    height: 36px;
    padding-left: 35px;
    padding-top: 3px;
    border: solid #fff 5px;
    box-sizing: border-box;
}
.ribbon-btn {
    box-sizing: border-box;
    height: 36px;
    width: 100px;
    float: left;
    position: absolute;
    background: #ed2991;
    border: 5px solid #fff;
    color: #fff;
}
    .ribbon-btn:after,.ribbon-btn:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }
    .ribbon-btn:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 18px;
        margin-top: -18px;
    }
    .a:before {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 18px;
        margin-top: -18px;
    }
.flexslider{
}
.my-account:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-man.png");
}
.my-wishlist:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-whichlist.png");
}
.my-cart:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-price.png");
}
.my-wishlist:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-whichlist.png");
}
.checkout:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-left.png");
}
.login:before {
    margin-right: 3px;
    float: left;
    display: block;
    content: url("../images/ico-login.png");
}
.sales:after{
    display: block;
    content: "";
    clear: both;
}
.sales img{
    float: left;
    margin-right: 10px;
}
.sales li{
    width: 237px;
    float: left;
}
.featured-art:after{
    display: block;
    content: "";
    clear: both;
}
.descriptions:after{
    content: "";
    display: block;
    clear: both;
}
.descriptions2:after{
    display: block;
    content: "";
    clear: both;
}
.add-btn-green{
    border-radius: 5px;
    border: 0 none;
    box-shadow: 1px 1px 3px 0 #4e4e4e;
    background: #99cc33;
    display: block;
    width: 128px;
    height: 30px;
}
.add-btn-green:hover{
    cursor: pointer;
    background: #89bd35;
}
.add-btn-blue{
    border-radius: 5px;
    border: 0 none;
    box-shadow: 1px 1px 3px 0 #4e4e4e;
    background: #005c93;
    display: block;
    width: 128px;
    height: 30px;
}
.add-btn-blue:hover{
    cursor: pointer;
    background: #00548c;
}
.descript-block{
    padding: 12px;
    background: #fff;
    float: left;
    margin: 0 8px 10px 0;
    box-shadow: 1px 1px 5px 0 #4e4e4e;
    box-sizing: border-box;
    max-width: 134px;
}
.descript-text{
    margin-bottom: 12px;
    margin-right: 8px;
    float: left;
    max-width: 134px;
}
.footer:after{
    display: block;
    content: "";
    clear: both;
}
.footer{
    background: #242836;
}
.footer-content:after{
    display: block;
    content: "";
    clear: both;
}
.footer-content{
    margin: 0 auto;
    max-width: 950px;
    padding: 30px 0 18px 0;
}
.footer-ico{
    height: 32px;
}
.footer-links{
    clear: both;
}
.footer-links a{
    color: #fff;
}
.footer-links a:hover{
    text-decoration: underline;
}
.about-us{
    margin-left: 56px;
    float: left;
    width: 257px;
}
.why-buy{
    float: left;
    width: 242px;
}
.contact-us{
    float: left;
    width: 220px;
}
